path:
  logs: /var/log/ec
  data: /var/lib/data/ec

cluster.name: ec-docker

node.name: ${HOSTNAME}

network.host: 0.0.0.0

http.cors.enabled : true

http.cors.allow-origin : "*"
http.cors.allow-methods : OPTIONS, HEAD, GET, POST, PUT, DELETE
http.cors.allow-headers : X-Requested-With,X-Auth-Token,Content-Type, Content-Length


discovery.zen.minimum_master_nodes: 2
discovery.zen.ping.unicast.hosts:
   - ec-master1
   - ec-master2
   - ec-master3
